body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

/* .navbar-nav .nav-link {
  font-weight: bold;
  color: white; 
}*/
/* top navbar */    
.top-navbar{
    
  display: flex;
  justify-content: space-between;
}
.top-navbar p{
  margin-top: 13px;
  margin-left: 15px;
}
.top-navbar .icons{
  margin-top: 13px;
  margin-right: 15px;
}
.top-navbar a{
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.top-navbar a img{
  margin-bottom: 3px;
}
.top-navbar a:hover{
  color: rgb(255, 245, 245);
}
@media screen and (max-width:400px){
  .top-navbar a{
      font-size: 13px;
  }
  .top-navbar a img{
      width: 15px;
  }
  .top-navbar p{
      font-size: 13px;
  }
}
@media screen and (max-width:320px){
  .top-navbar a{
      font-size: 10px;
  }
  .top-navbar a img{
      width: 13px;
  }
  .top-navbar p{
      font-size: 10px;
  }
}
@media screen and (max-width:318px){
  .top-navbar a{
      font-size: 8px;
      margin-left: 0;
  }
  .top-navbar a img{
      width: 10px;
      margin-left: 0;
  }
  .top-navbar p{
      font-size: 10px;
      margin-top: 20px;
  }
}
/* top navbar */

/* navbar */
#navbar{
  background-color: white;
}
#logo{
  margin-left: 15px;
  color: rgb(14, 14, 14);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
}
#logo span{
  color: #ffffff;
}
#logo #span1{
  font-size: 30px;
}
.navbar-nav{
  margin-left: 20px;
}
.nav-item{
    align-items: center;
    justify-content: space-between;
  margin-left: 10px;
}
.nav-item .nav-link{
  color: rgb(12, 12, 12);
  margin-left: 2px;
  text-shadow: 0px 0px 1px black;
  transition: 0.5s ease;
}
.nav-item .nav-link:hover{
  color: #423e3e;
}
.dropdown-menu li a{
  color: white;
  transition: 0.5s ease;
}
.dropdown-menu li a:hover{
  background-color: rgb(86, 0, 0);
  color: #433e3f;
}
#search input{
  border-radius: 50px;
  border: none;
}
#search button{
  border-radius: 50px;
  color: rgb(56, 51, 51);
  border: 1px solid #0f586e12;
  background-color: #ffd000;
}
/* navbar */

  

.dropdown-item{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
#selectedOption{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.menu-add {
  width: 70%;
  float: left;
  padding-right: 20px;
  margin-top: 55px;
  font-family:'Times New Roman', Times, serif;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between menu items */
}

.movie-item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  text-align: center;
  width: calc(30% - 20px); /* Calculate width with gap */
  margin-bottom: 20px; /* Adjust the margin-bottom */
}


.movie-item img {
  width: 70%;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .movie-item {
    width: calc(50% - 20px);
  }
}

button {
  background-color:#e8b743;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 2px;
}

button:hover {
  background-color:grey;
}

.cart-container {
  width: 30%;
  float: right;
  padding: 10px;
  background-color: wheat;
  margin-top: 100px;
}

.cart-container h1 {
    font-family:'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.cart-item {
  margin-bottom: 10px;
}

.cart-item p {
  margin: 0;
}

.cart-total {
  margin-top: 20px;
  font-weight: bold;
}
.footer {
  clear: both; /* Clear floats to ensure footer is below floated elements */
  text-align: center; /* Center-align the content within the footer */
  margin-top: 1px; /* Add some space between the footer and the content above */
  background-color:black;
  padding-top: 1em;
}
.container{
  color: white;
}